ref_v_unary_sat_op.c filter=lfs diff=lfs merge=lfs -text
scatter.scat filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
ref_vcvt.c filter=lfs diff=lfs merge=lfs -text
ref_vmla_n.c filter=lfs diff=lfs merge=lfs -text
ref_vmul_lane.c filter=lfs diff=lfs merge=lfs -text
ref_vqdmlsl_lane.c filter=lfs diff=lfs merge=lfs -text
ref_vsubl.c filter=lfs diff=lfs merge=lfs -text
compute_ref.gccarm filter=lfs diff=lfs merge=lfs -text
ref_vld1.c filter=lfs diff=lfs merge=lfs -text
ref_vmlsl.c filter=lfs diff=lfs merge=lfs -text
ref_vrshl.c filter=lfs diff=lfs merge=lfs -text
ref_vsub.c filter=lfs diff=lfs merge=lfs -text
ref_vceq.c filter=lfs diff=lfs merge=lfs -text
ref_vhsub.c filter=lfs diff=lfs merge=lfs -text
ref_vqdmlal_n.c filter=lfs diff=lfs merge=lfs -text
stm-arm-neon-ref.h filter=lfs diff=lfs merge=lfs -text
armscript.inc filter=lfs diff=lfs merge=lfs -text
ref_vcnt.c filter=lfs diff=lfs merge=lfs -text
ref_vmul_n.c filter=lfs diff=lfs merge=lfs -text
ref_vorn.c filter=lfs diff=lfs merge=lfs -text
ref_vqdmlsl.c filter=lfs diff=lfs merge=lfs -text
ref_vqrshrun_n.c filter=lfs diff=lfs merge=lfs -text
ref_integer.c filter=lfs diff=lfs merge=lfs -text
ref_vaba.c filter=lfs diff=lfs merge=lfs -text
ref_vcgt.c filter=lfs diff=lfs merge=lfs -text
ref_vqadd.c filter=lfs diff=lfs merge=lfs -text
ref_vqdmulh_lane.c filter=lfs diff=lfs merge=lfs -text
ref_vqneg.c filter=lfs diff=lfs merge=lfs -text
ref_vqrdmulh_lane.c filter=lfs diff=lfs merge=lfs -text
compute_ref.gccarm-rvct filter=lfs diff=lfs merge=lfs -text
ref_vdup_lane.c filter=lfs diff=lfs merge=lfs -text
ref_vext.c filter=lfs diff=lfs merge=lfs -text
ref_vget_high.c filter=lfs diff=lfs merge=lfs -text
ref_vqdmlal_lane.c filter=lfs diff=lfs merge=lfs -text
ref_vqdmulh_n.c filter=lfs diff=lfs merge=lfs -text
ref_vqshlu_n.c filter=lfs diff=lfs merge=lfs -text
ref_vshl_n.c filter=lfs diff=lfs merge=lfs -text
ref_vst1_lane.c filter=lfs diff=lfs merge=lfs -text
ref-rvct-all.txt filter=lfs diff=lfs merge=lfs -text
ref_vbsl.c filter=lfs diff=lfs merge=lfs -text
ref_vld1_lane.c filter=lfs diff=lfs merge=lfs -text
ref_vmvn.c filter=lfs diff=lfs merge=lfs -text
ref_vqrshrn_n.c filter=lfs diff=lfs merge=lfs -text
ref_vrecpe.c filter=lfs diff=lfs merge=lfs -text
ref_vsubhn.c filter=lfs diff=lfs merge=lfs -text
ref_vneg.c filter=lfs diff=lfs merge=lfs -text
ref_vqdmull_lane.c filter=lfs diff=lfs merge=lfs -text
ref_vqdmull_n.c filter=lfs diff=lfs merge=lfs -text
ref_vrshr_n.c filter=lfs diff=lfs merge=lfs -text
ref_vrsra_n.c filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
ref_vcls.c filter=lfs diff=lfs merge=lfs -text
ref_vcalt.c filter=lfs diff=lfs merge=lfs -text
ref_vldX_dup.c filter=lfs diff=lfs merge=lfs -text
ref_vqshl_n.c filter=lfs diff=lfs merge=lfs -text
ref_vuzp.c filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
ref_vand.c filter=lfs diff=lfs merge=lfs -text
ref_vdup.c filter=lfs diff=lfs merge=lfs -text
ref_vorr.c filter=lfs diff=lfs merge=lfs -text
ref_vrecps.c filter=lfs diff=lfs merge=lfs -text
ref_vsli_n.c filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
Init.s filter=lfs diff=lfs merge=lfs -text
ref_vmls.c filter=lfs diff=lfs merge=lfs -text
ref_vmull_n.c filter=lfs diff=lfs merge=lfs -text
ref_vqshrun_n.c filter=lfs diff=lfs merge=lfs -text
ref_vreinterpret.c filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
ref_vadd.c filter=lfs diff=lfs merge=lfs -text
ref_vaddhn.c filter=lfs diff=lfs merge=lfs -text
ref_v_binary_op.c filter=lfs diff=lfs merge=lfs -text
ref_vhadd.c filter=lfs diff=lfs merge=lfs -text
ref-rvct-neon-nofp16.txt filter=lfs diff=lfs merge=lfs -text
ref_vaddl.c filter=lfs diff=lfs merge=lfs -text
ref_vcreate.c filter=lfs diff=lfs merge=lfs -text
ref_vld1_dup.c filter=lfs diff=lfs merge=lfs -text
ref_vpmin.c filter=lfs diff=lfs merge=lfs -text
ref_dsp.c filter=lfs diff=lfs merge=lfs -text
ref_vcage.c filter=lfs diff=lfs merge=lfs -text
ref_vmls_lane.c filter=lfs diff=lfs merge=lfs -text
ref_vpadal.c filter=lfs diff=lfs merge=lfs -text
ref_vrsqrte.c filter=lfs diff=lfs merge=lfs -text
ref_vstX_lane.c filter=lfs diff=lfs merge=lfs -text
ref_vabal.c filter=lfs diff=lfs merge=lfs -text
ref_vbic.c filter=lfs diff=lfs merge=lfs -text
ref_vrsqrts.c filter=lfs diff=lfs merge=lfs -text
ref_vshl.c filter=lfs diff=lfs merge=lfs -text
compute_ref.axf filter=lfs diff=lfs merge=lfs -text
ref_vclz.c filter=lfs diff=lfs merge=lfs -text
ref_vget_lane.c filter=lfs diff=lfs merge=lfs -text
ref_vmla_lane.c filter=lfs diff=lfs merge=lfs -text
ref_vrev.c filter=lfs diff=lfs merge=lfs -text
ref_vsri_n.c filter=lfs diff=lfs merge=lfs -text
ref_vqrshl.c filter=lfs diff=lfs merge=lfs -text
ref_vset_lane.c filter=lfs diff=lfs merge=lfs -text
ref-rvct-neon.txt filter=lfs diff=lfs merge=lfs -text
ref_vmax.c filter=lfs diff=lfs merge=lfs -text
ref_vmovl.c filter=lfs diff=lfs merge=lfs -text
ref_vpadd.c filter=lfs diff=lfs merge=lfs -text
ref_vqabs.c filter=lfs diff=lfs merge=lfs -text
ref_vqdmlsl_n.c filter=lfs diff=lfs merge=lfs -text
retarget.c filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_MIT filter=lfs diff=lfs merge=lfs -text
ref_vmls_n.c filter=lfs diff=lfs merge=lfs -text
ref_vqmovun.c filter=lfs diff=lfs merge=lfs -text
ref_vrsubhn.c filter=lfs diff=lfs merge=lfs -text
ref_vtrn.c filter=lfs diff=lfs merge=lfs -text
expected_input4gcc-nofp16.txt filter=lfs diff=lfs merge=lfs -text
ref_v_comp_f_op.c filter=lfs diff=lfs merge=lfs -text
ref_vmin.c filter=lfs diff=lfs merge=lfs -text
ref_vmlal_lane.c filter=lfs diff=lfs merge=lfs -text
ref_vpaddl.c filter=lfs diff=lfs merge=lfs -text
ref_vqsub.c filter=lfs diff=lfs merge=lfs -text
license.html filter=lfs diff=lfs merge=lfs -text
ref_vclt.c filter=lfs diff=lfs merge=lfs -text
ref_vsXi_n.c filter=lfs diff=lfs merge=lfs -text
ref_v_unary_op.c filter=lfs diff=lfs merge=lfs -text
ref_dspfns.c filter=lfs diff=lfs merge=lfs -text
ref_vabd.c filter=lfs diff=lfs merge=lfs -text
ref_vcombine.c filter=lfs diff=lfs merge=lfs -text
ref_v_comp_op.c filter=lfs diff=lfs merge=lfs -text
ref_vqshl.c filter=lfs diff=lfs merge=lfs -text
ref_vsubw.c filter=lfs diff=lfs merge=lfs -text
Makefile.gcc filter=lfs diff=lfs merge=lfs -text
ref_vaddw.c filter=lfs diff=lfs merge=lfs -text
ref_v_binary_sat_op.c filter=lfs diff=lfs merge=lfs -text
ref_vshr_n.c filter=lfs diff=lfs merge=lfs -text
ref_vzip.c filter=lfs diff=lfs merge=lfs -text
ref_vmul.c filter=lfs diff=lfs merge=lfs -text
ref_vmull.c filter=lfs diff=lfs merge=lfs -text
ref_vmull_lane.c filter=lfs diff=lfs merge=lfs -text
ref_vqdmlal.c filter=lfs diff=lfs merge=lfs -text
ref_vabdl.c filter=lfs diff=lfs merge=lfs -text
ref_vldX.c filter=lfs diff=lfs merge=lfs -text
ref_vldX_lane.c filter=lfs diff=lfs merge=lfs -text
ref_vmla.c filter=lfs diff=lfs merge=lfs -text
ref_vmlal.c filter=lfs diff=lfs merge=lfs -text
ref_vmlal_n.c filter=lfs diff=lfs merge=lfs -text
compute_ref_data.c filter=lfs diff=lfs merge=lfs -text
ref_vpmax.c filter=lfs diff=lfs merge=lfs -text
ref_vqdmull.c filter=lfs diff=lfs merge=lfs -text
ref_vrhadd.c filter=lfs diff=lfs merge=lfs -text
ref_vtbX.c filter=lfs diff=lfs merge=lfs -text
ref_vcagt.c filter=lfs diff=lfs merge=lfs -text
ref_vmlsl_lane.c filter=lfs diff=lfs merge=lfs -text
ref_vqmovn.c filter=lfs diff=lfs merge=lfs -text
ref_vqshrn_n.c filter=lfs diff=lfs merge=lfs -text
ref_vget_low.c filter=lfs diff=lfs merge=lfs -text
ref_vmlsl_n.c filter=lfs diff=lfs merge=lfs -text
ref_vmovn.c filter=lfs diff=lfs merge=lfs -text
ref_vqrdmulh.c filter=lfs diff=lfs merge=lfs -text
ref_vraddhn.c filter=lfs diff=lfs merge=lfs -text
ref_vrshrn_n.c filter=lfs diff=lfs merge=lfs -text
expected_input4gcc.txt filter=lfs diff=lfs merge=lfs -text
ref_vcale.c filter=lfs diff=lfs merge=lfs -text
ref_vcge.c filter=lfs diff=lfs merge=lfs -text
ref_vshrn_n.c filter=lfs diff=lfs merge=lfs -text
ref_vsra_n.c filter=lfs diff=lfs merge=lfs -text
ref_vtst.c filter=lfs diff=lfs merge=lfs -text
InitCache.s filter=lfs diff=lfs merge=lfs -text
ref_vcle.c filter=lfs diff=lfs merge=lfs -text
ref_veor.c filter=lfs diff=lfs merge=lfs -text
compute_ref.c filter=lfs diff=lfs merge=lfs -text
ref_vabs.c filter=lfs diff=lfs merge=lfs -text
ref_vqdmulh.c filter=lfs diff=lfs merge=lfs -text
ref_vqrdmulh_n.c filter=lfs diff=lfs merge=lfs -text
ref_vshll_n.c filter=lfs diff=lfs merge=lfs -text
